@import "../../foundation/all";

.AddSvg {
  width: 21px;
  height: 21px;
  fill: #F4F4F4;
  @include tablet {
    width: 20px;
    height: 20px;
  }
  @include mobile {
    & {
      fill: $black;
    }
  }
}

.AddSvgBold {
  width: 15px;
  height: 15px;
  fill: #1e1e1e;
}